{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react", "graphql"],
  "extends": [
    "standard-with-typescript",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",

    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "import/default": "off",
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc"
        }
      }
    ],
    "react/prop-types": ["off"],
    "no-console": "error",
    "@typescript-eslint/camelcase": ["off"],
    "@typescript-eslint/explicit-function-return-type": ["off"],
    "@typescript-eslint/restrict-template-expressions": ["off"]
  },
  "settings": {
    "react": {
      "version": "16.12.0"
    },
    "import/extensions": [".js", ".jsx"],
    "import/resolver": {
      "typescript": {}
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    }
  },
  "env": {
    "es6": true,
    "node": true
  }
}
