@mixin keyframe($animation_name) {
  @-webkit-keyframes #{$animation_name} {
    @content;
  }

  @-moz-keyframes #{$animation_name} {
    @content;
  }

  @-o-keyframes #{$animation_name} {
    @content;
  }

  @keyframes #{$animation_name} {
    @content;
  }
}

@include keyframe(fatten) {
  from {
    transform: scale3d(1, 1, 1);
  }

  to {
    transform: scale3d(1.2, 1.2, 1.2);
  }
}

@include keyframe(ease-in) {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@mixin animation(
  $animation,
  $duration,
  $animation-iteration-count: 1,
  $delay: 0,
  $direction: forward,
  $fillmode: fowards
) {
  -webkit-animation-iteration-count: $animation-iteration-count;
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-fill-mode: $fillmode;
  -webkit-animation-direction: $direction;

  -moz-animation-iteration-count: $animation-iteration-count;
  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-fill-mode: $fillmode;
  -moz-animation-direction: $direction;

  animation-iteration-count: $animation-iteration-count;
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-fill-mode: $fillmode;
  animation-direction: $direction;
}
