$primary: #e91a3c;
$primary-light: #e95279;
$primary-faint: #f5d6dc;
$secondary: #0a2f34;
$secondary-light: #749296;
$secondary-faint: #d0dadb;
$grey: #54565b;
$grey-light: #8a8a8a;
$grey-faint: #f7f6f7;
$opaque: rgba(0, 0, 0, 0.4);
$success-green: #32cd32;
